<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257898234756-0u8pec8465j6b7vcmcdvqe7e5a6nccge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257898234756-0u8pec8465j6b7vcmcdvqe7e5a6nccge</string>
	<key>API_KEY</key>
	<string>AIzaSyCZNVF1m12u0Qqx2EuR6j2xAssrzpa8P5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>257898234756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogdev.fsnt</string>
	<key>PROJECT_ID</key>
	<string>fnst-24b11</string>
	<key>STORAGE_BUCKET</key>
	<string>fnst-24b11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257898234756:ios:741668897b2be1cc4d13d1</string>
</dict>
</plist>